<template>
	<footer class="c-footer">
		<div class="l-container">
			<div class="c-footer__logo"><img src="~/assets/image/common/flogo.svg" width="303" height="36" alt=""></div>
			<div class="c-footer__inner">
				<ul class="c-footer__list">
					<li><a href=""><span>お菓子一覧</span></a></li>
					<li><a href=""><span>季節のお菓子</span></a></li>
					<li><a href=""><span>ういろう・羊羹</span></a></li>
					<li><a href=""><span>焼き菓子</span></a></li>
					<li><a href=""><span>詰め合わせ</span></a></li>
					<li><a href=""><span>店舗限定商品</span></a></li>
				</ul>
				<ul class="c-footer__list">
					<li><a href=""><span>最新のお知らせ</span></a></li>
					<li><a href=""><span>商品情報</span></a></li>
					<li><a href=""><span>催事・イベント情報</span></a></li>
					<li><a href=""><span>メディア掲載情報</span></a></li>
					<li><a href=""><span>その他</span></a></li>
				</ul>
				<ul class="c-footer__list">
					<li><a href=""><span>店舗のご案内</span></a></li>
					<li><a href=""><span>大須本店</span></a></li>
					<li><a href=""><span>守山直営店</span></a></li>
					<li><a href=""><span>KITTE名古屋店</span></a></li>
					<li><a href=""><span>エスカ直営店</span></a></li>
					<li><a href=""><span>その他販売店</span></a></li>
				</ul>
				<ul class="c-footer__list">
					<li><a href=""><span>青柳総本家について</span></a></li>
					<li><a href=""><span>お菓子作りへのこだわり</span></a></li>
					<li><a href=""><span>青柳総本家の歴史</span></a></li>
					<li><a href=""><span>会社概要</span></a></li>
					<li><a href=""><span>採用情報</span></a></li>
					<li><a href=""><span>青柳Q&A</span></a></li>
					<li><a href=""><span>CMギャラリー</span></a></li>
				</ul>
				<div class="c-footer__other">
					<div class="c-footer__language">
						<select class="c-footer__select" name="">
							<option>JAPANESE</option>
							<option>ENGLISH</option>
							<option>简体中文</option>
							<option>繁體中文</option>
							<option>ไทย</option>
						</select>
					</div>
					<ul>
						<li><a href=""><span>特定商取引法に基づく表記</span></a></li>
						<li><a href=""><span>個人情報のお取り扱いについて</span></a></li>
						<li><a href=""><span>お問い合わせ</span></a></li>
					</ul>
					<div class="c-footer__onl">
						<a href="" class="c-footer__onl--banner" target="_blank"><span>ONLINE SHOP</span>オンラインショップ</a>
						<a href="" class="c-footer__onl--link">お電話・FAXでのご注文はこちら</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
</template>