<template>
	<header class="c-header">
		<span class="c-header__line"></span>
		<div class="c-header__logo">
			<a href="/"><img src="~/assets/image/common/logo.svg" width="33" height="262" alt=""></a>
		</div>
		<div class="c-header__btn">
			<div class="c-header__toggle">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="c-header__btntxt">MENU</div>
		</div>
		<div class="c-header__rakkan"><img src="~/assets/image/common/rakkan.svg" width="30" height="47" alt=""></div>
		<Hnavi/>
	</header>
</template>


<script>
    import Hnavi from '~/components/Hnavi';

    export default {
        components: {
            Hnavi
        },
        mounted: function() {
			$(".c-header__btn").click(function() {
				$('body').toggleClass('is-show');
				$(this).toggleClass('is-active');
				if($(this).hasClass('is-active')){
					$('.c-header__btntxt').text("CLOSE");
					$('.c-nav').fadeIn(400);
					$('.c-nav__parent').addClass('is-show');
					$('.c-nav__onl').addClass('is-show');
					setTimeout(function(){					
						$('.c-nav__parent > li:nth-of-type(1)').addClass('is-active');
					}, 500);
				} else{	
					$('.c-nav__parent').removeClass('is-show');	
					$('.c-nav__onl').removeClass('is-show');
					$('.c-nav__parent > li:nth-of-type(1)').removeClass('is-active');						
					setTimeout(function(){
						$('.c-header__btntxt').text("MENU");
						$('.c-nav').fadeOut(400);
					}, 400);
				}	
			});
			$('.c-nav__parent > li').on('click', function(){
				$(this).addClass('is-active').siblings().removeClass('is-active');
			});
			
		}
    }
</script>