<template>
	<div class="c-nav">
		<div class="c-nav__inner">
			<ul class="c-nav__parent">
				<li>
					<p><span>お菓子</span></p>
					<ul class="c-nav__children">
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products01.jpg" alt=""></div>
								<p class="c-nav__txt">お菓子一覧</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products02.jpg" alt=""></div>
								<p class="c-nav__txt">季節のお菓子</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products03.jpg" alt=""></div>
								<p class="c-nav__txt">ういろう・羊羹</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products04.jpg" alt=""></div>
								<p class="c-nav__txt">焼き菓子</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products05.jpg" alt=""></div>
								<p class="c-nav__txt">詰め合わせ</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products06.jpg" alt=""></div>
								<p class="c-nav__txt">店舗限定商品</p>
							</a>
						</li>
					</ul>
				</li>
				<li><a href=""><span>最新のお知らせ</span></a></li>
				<li>
					<p><span>店舗のご案内</span></p>
					<ul class="c-nav__children">
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products07.jpg" alt=""></div>
								<p class="c-nav__txt">大須本店</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products08.jpg" alt=""></div>
								<p class="c-nav__txt">守山直営店</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products09.jpg" alt=""></div>
								<p class="c-nav__txt">KITTE名古屋店</p>
							</a>
						</li>
						<li>
							<a href="">
								<div class="c-nav__img"><img src="~/assets/image/common/products10.jpg" alt=""></div>
								<p class="c-nav__txt">エスカ直営店</p>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<p><span>青柳総本家について</span></p>
				</li>
				<li><a href=""><span>青柳Q&A</span></a></li>
				<li><a href=""><span>CMギャラリー</span></a></li>
				<li><a href=""><span>採用情報</span></a></li>
			</ul>
			<div class="c-nav__onl">
				<a href="" class="c-nav__onl--banner" target="_blank"><span>ONLINE SHOP</span>オンラインショップ</a>
				<a href="" class="c-nav__onl--link">お電話・FAXでのご注文はこちら</a>
			</div>
		</div>
		<div class="c-nav__bg"></div>
	</div>
</template>