<template>
	<div class="c-tabs">
		<ul class="c-tabs__nav">
			<li class="is-active" data="tabs01">新着情報</li>
			<li data="tabs02">メディア掲載</li>
		</ul>
		<ul class="c-tabs__content tabs01 is-active">
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news01.jpg" alt=""></div>
					<div class="c-tabs__text">
						<time>2019.08.01</time>
						<ul class="c-tabs__cate">
							<li class="type-products">商品情報</li>
							<li class="type-limited">限定商品</li>
						</ul>
						<h3 class="c-tabs__title">「青柳 季節の生ういろう くず製緑茶」販売のお知らせ</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news02.png" alt=""></div>
					<div class="c-tabs__text">
						<time>2019.07.26</time>
						<h3 class="c-tabs__title">「お問い合わせ」メールフォーム不具合のお詫びとお知らせ</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news03.jpg" alt=""></div>
					<div class="c-tabs__text">
						<time>2019.07.19</time>
						<ul class="c-tabs__cate">
							<li class="type-products">商品情報</li>
							<li class="type-limited">限定商品</li>
						</ul>
						<h3 class="c-tabs__title">「土用餅ういろう」販売のお知らせ</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
		</ul>
		<ul class="c-tabs__content tabs02">
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news04.jpg" alt=""></div>
					<div class="c-tabs__text">
						<time>2019.07.17</time>
						<ul class="c-tabs__cate">
							<li class="type-products">商品情報</li>
							<li class="type-media">メディア掲載</li>
						</ul>
						<h3 class="c-tabs__title">小学館「DIME9・10月号」で「カエルまんじゅう」をご紹介いただきました</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news05.jpg" alt=""></div>
					<div class="c-tabs__text">
						<time>2019.02.27</time>
						<ul class="c-tabs__cate">
							<li class="type-products">商品情報</li>
							<li class="type-media">メディア掲載</li>
						</ul>
						<h3 class="c-tabs__title">ファッション週刊紙「WWDジャパン」にて「青柳ういろうforアスリート」を紹介していただきました。</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
			<li>
				<a href="" class="c-tabs__item">
					<div class="c-tabs__img"><img src="~/assets/image/top/news05.jpg" alt=""></div>
					<div class="c-tabs__text">
						<time>2018.12.20</time>
						<ul class="c-tabs__cate">
							<li class="type-media">メディア掲載</li>
						</ul>
						<h3 class="c-tabs__title">枻出版社「民芸お菓子/福田里香著」にて「青柳ういろう」をご紹介いただきました。</h3>
						<span class="c-tabs__btn">詳しくみる</span>
					</div>
				</a>
			</li>
		</ul>
		<div class="c-btn01">
			<a href="">お知らせ一覧はこちら</a>
		</div>
	</div>
</template>

<script> 
    export default {
        mounted: function() {
        	$('.c-tabs__nav li').click(function(){
        		var tab_id = $(this).attr('data');

        		$('.c-tabs__nav li').removeClass('is-active');
        		$('.c-tabs__content').removeClass('is-active');

        		$(this).addClass('is-active');
        		$("."+tab_id).addClass('is-active');
        	})		
		}
    }
</script>