<template>	
	<div class="p-top">
		<div class="c-loading">
			<div class="c-loading__cover">
				<svg class="c-loading__triangulo" width="200" height="200" viewBox="0 0 40 60">
					<polygon fill="none" stroke="#000" stroke-width="1" points="16,1 32,32 1,32" />
				</svg>
			</div>
		</div>
		<div id="mainvisual" class="p-top01">
			<div class="p-top01__mouse">
				<div class="circle">
					<canvas id="js-pointer1"></canvas>
					<canvas id="js-pointer2"></canvas>
				</div>
			</div>
			<div id="js-screen" class="p-top01__inner">
				<div  class="p-top01__bg" data-depth="0.1"></div>				
				<div class="p-top01__pointer">
					<div class="p-top01__pointer01 js-hover"></div>
					<div class="p-top01__pointer02 js-hover"></div>
					<div class="p-top01__pointer03 js-hover"></div>
					<div class="p-top01__pointer04 js-hover"></div>
					<div class="p-top01__pointer05 js-hover"></div>
					<div class="p-top01__pointer06 js-hover"></div>
					<div class="p-top01__pointer07 js-hover"></div>
					<div class="p-top01__pointer08 js-hover"></div>
					<div class="p-top01__pointer09 js-hover"></div>
					<div class="p-top01__pointer10 js-hover"></div>
					<div class="p-top01__pointer11 js-hover"></div>
				</div>
			</div>
		</div>
		<div class="p-top__inner">
			<div class="c-iframe c-iframe01 js-view">
				<div class="c-iframe01__bg"></div>
				<video id="video" class="c-iframe01__video" muted="" preload="auto">
					<source src="~/assets/image/common/iframe01.mp4">
				</video>
			</div>	
			<div class="p-top02 js-view">				
				<div class="l-container">
					<div class="c-title01">
						<h3><span>P</span><span>R</span><span>O</span><span>D</span><span>U</span><span>C</span><span>T</span><span>S</span></h3>
						<p>お菓子</p>
					</div>
					<div class="is-animation">
						<div class="p-top02__txt01">
							<p>名古屋土産の定番「青柳ういろう」をはじめ、<br>月ごとに変わる生ういろうや季節限定のお菓子など、<br>青柳総本家自慢のお菓子をご紹介します。</p>
						</div>
						<div class="c-btn01">
							<a href="">お菓子一覧はこちら</a>
						</div>
						<ul class="p-top02__img01">
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products01.jpg" width="525" height="400" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>季節のお菓子</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products02.jpg" width="525" height="400" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
							</li>
						</ul>
						<h3 class="p-top02__title">おすすめの定番お菓子</h3>
						<ul class="p-top02__list">
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products03.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>青柳ういろう しろ</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products04.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>カエルまんじゅう</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products05.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>青柳ういろう ひとくち 濃茶・和三盆</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products06.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>きしめんパイ</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products07.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>名古屋かるたういろう</p>
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/products08.jpg" width="340" height="340" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
								</a>
								<p>青柳 小倉サンド</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="c-iframe c-iframe02">
				<div class="c-iframe02__bg"></div>
			</div>
			<div class="p-top03 js-view">
				<div class="l-container">
					<div class="c-title01 c-title01--textRight">
						<h3><span>N</span><span>E</span><span>W</span><span>S</span> <span>R</span><span>E</span><span>L</span><span>E</span><span>A</span><span>S</span><span>E</span></h3>
						<p>最新のお知らせ</p>
					</div>
					<div class="p-top03__inner is-animation">
						<Toptabs/>
					</div>
				</div>
			</div>
			<div class="p-top04 js-view">
				<div class="l-container">
					<div class="c-title01">
						<h3><span>S</span><span>T</span><span>O</span><span>R</span><span>E</span> <span>I</span><span>N</span><span>F</span><span>O</span></h3>
						<p>店舗のご案内</p>
					</div>
					<div class="is-animation">
						<div class="c-slider">
							<ul class="c-slider__img">
								<li><img src="~/assets/image/top/slider01.jpg" alt=""></li>
								<li><img src="~/assets/image/top/slider02.jpg" alt=""></li>
								<li><img src="~/assets/image/top/slider03.jpg" alt=""></li>
								<li><img src="~/assets/image/top/slider04.jpg" alt=""></li>
							</ul>						
							<div class="c-slider__boxtxt">
								<ul class="c-slider__text">
									<li class="c-slider__txt">
										<h3>大須本店</h3>
										<p>明治12年の創業の地である大須本店は、大須観音からほど近く、観光のついでにもお立ち寄りいただけます。</p>
										<a href="">詳しくみる</a>
									</li>
									<li class="c-slider__txt">
										<h3>守山直営店</h3>
										<p>本社工場から近い守山直営店では、日常使いの「ひとくち生ういろう」をはじめ、基本的な商品を取りそろえています。</p>
										<a href="">詳しくみる</a>
									</li>
									<li class="c-slider__txt">
										<h3>KITTE名古屋店</h3>
										<p>基本的な商品をとりそろえ、店内ではういろうとお抹茶のセットやパフェなどの甘味もお楽しみいただけます。</p>
										<a href="">詳しくみる</a>
									</li>
									<li class="c-slider__txt">
										<h3>エスカ直営店</h3>
										<p>名古屋駅の新幹線改札口から最も近いエスカ地下街にあり、出張や旅行帰りに名古屋土産をお求めいただくのに最適です。</p>
										<a href="">詳しくみる</a>
									</li>
								</ul>
								<div class="c-slider__arrow">
									<div class="c-slider__prev">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.128px" height="21.396px" viewBox="1.707 0.303 12.128 21.396" enable-background="new 1.707 0.303 12.128 21.396" xml:space="preserve">
											<path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M2.414,1.01L12.42,11L2.414,20.99"></path>
										</svg>
									</div>
									<div class="c-slider__next">
										<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12.128px" height="21.396px" viewBox="1.707 0.303 12.128 21.396" enable-background="new 1.707 0.303 12.128 21.396" xml:space="preserve">
											<path fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M2.414,1.01L12.42,11L2.414,20.99"></path>
										</svg>
									</div>
								</div>
								<div class="c-slider__pager">
									<span class="c-slider__pager--numer"></span>
									<span class="c-slider__pager--count"></span>
								</div>
							</div>
						</div>
						<div class="c-btn01">
							<a href="">店舗一覧はこちら</a>
						</div>
					</div>
				</div>
			</div>
			<div class="c-iframe c-iframe03">
				<div class="c-iframe03__bg"></div>
			</div>
			<div class="p-top05 js-view">
				<div class="l-container">
					<div class="c-title01 c-title01--textRight">
						<h3><span>A</span><span>B</span><span>O</span><span>U</span><span>T</span> <span>U</span><span>S</span></h3>
						<p>青柳総本家について</p>
					</div>
					<div class="is-animation">
						<ul class="p-top05__list">
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/about01.jpg" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
									<p>青柳総本家について</p>
								</a>							
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/about02.jpg" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
									<p>お菓子作りへのこだわり</p>
								</a>							
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/about03.jpg" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
									<p>青柳総本家の歴史</p>
								</a>							
							</li>
							<li>
								<a href="">
									<div class="c-img01">
										<img src="~/assets/image/top/about04.jpg" alt="">
										<span class="c-img01__title">詳しくみる</span>
									</div>
									<p>青柳Q&A</p>
								</a>							
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
	</div>
</template>

<script>
	import Toptabs from '~/components/Toptabs.vue';
    export default {
		components: {
            Toptabs
        },
        mounted: function() {

        	$(window).on('beforeunload', function() {
        		$(window).scrollTop(0); 
        	});

        	var scene = document.getElementById('js-screen');
			var parallax = new Parallax(scene, {
			  	hoverOnly: true,
			  	pointerEvents: true
			});

			function isViewItem(elem) {
			    if ($(elem).length == 0) {
			        return false;
			    }
			    var itemViewTop = $(window).scrollTop();
			    var itemViewBottom = itemViewTop + ($(window).height()/2);

			    var itemTop = $(elem).offset().top;
			    var itemBottom = itemTop + ($(elem).height()/2);
			    return (itemViewBottom >= itemTop && itemViewTop <= itemBottom);
			}
			$(window).on("load scroll",function(e){
				if ($(window).scrollTop() >= 10) {
					$('#js-screen').removeClass('is-show');
				} else {
					$('#js-screen').addClass('is-show');
				}
			    $('.js-view').each(function () {
			        if (isViewItem(this) === true) {
			            $(this).addClass('is-view');
			        }
			    });
			    if($('.c-iframe').hasClass('is-view')){
			    	var vid = document.getElementById("video");
			    	vid.play();
			    	//$("video").get(0).play();
			    	setTimeout(function(){
			    		$("video").hide();
			    	}, 2500);
			    }
			});

			var $number = $('.c-slider__pager--numer');
			var $count = $('.c-slider__pager--count');
		    var $slickElement = $('.c-slider__text');

		    $slickElement.on('init reInit afterChange', function (event, slick, currentSlide, nextSlide) {
		        var i = (currentSlide ? currentSlide : 0) + 1;
		        $number.text('0'+i);
		        $count.text('0'+slick.slideCount);
		    });
			$('.c-slider__img').slick({
				arrows: false,
				fade: true,
				cssEase: 'linear',
				asNavFor: '.c-slider__text',
			});
			$slickElement.slick({
				fade: true,
				cssEase: 'linear',
				asNavFor: '.c-slider__img',
				dots: false,
				focusOnSelect: false,
				prevArrow: $('.c-slider__prev'),
				nextArrow: $('.c-slider__next'),
				adaptiveHeight: true
			});

			$('body').mousemove(function( event ) {
				var pageCoords = "( " + event.pageX + ", " + event.pageY + " )";
				var clientCoords = "( " + event.clientX + ", " + event.clientY + " )";
				$('.p-top01__mouse').css("transform","translate3d(" + event.pageX + "px," + event.pageY + "px ,0)")
			});

			$('.js-hover')
			.on( "mouseenter", function() {
				$('.circle').addClass('is-hover');
			})
			.on( "mouseleave", function() {
				$('.circle').removeClass('is-hover');
			}); 

	    	setTimeout(function(){
	    		$('.c-header').addClass('is-show');
	    	}, 500);

	    	setTimeout(function(){
	    		$('.p-top01__bg').addClass('is-show');
	    		$('.p-top01__mouse').css("display","block");
	    		$('body').addClass('is-show');
	    	}, 1200);

			setTimeout(function(){
	    		$('.c-loading').remove();
	    	}, 2000);
		}
    }
</script>
