/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer{
	background: url("~@/assets/image/common/footer_bg.png") repeat;
	padding-left: 100px;
	padding-top: 85px;
	padding-bottom: 95px;
	&__logo{
		padding-bottom: 35px;
	}
	&__inner{
		border-top: 1px solid #4b5439;
		padding-top: 50px;
		padding-left: 60px;
		display: flex;
		justify-content: space-between;
	    flex-wrap: wrap;
	    align-items: flex-start;
	}
	&__list{
		li{
			margin-bottom: 12px;
			a{
				display: block;
				text-decoration: none;
				color: #969892;
				font-size: 1.2rem;
				line-height: 2rem;
				span{
					display: inline-block;
					position: relative;
					&:after{
						content: '';
						width: 0;
						height: 1px;
						background: #FFF;
						position: absolute;
						bottom: 0;
						left: 50%;
						-webkit-transform: translateX(-50%);
						transform: translateX(-50%);
						transition: width 0.6s cubic-bezier(0.19, 0.865, 0.295, 1);
					}
				}
				&:hover{
					opacity: 1;
					color: #FFF;
					span{
						&:after{
							width: 100%;
						}
					}
				}
			}
			&:first-child{
				margin-bottom: 25px;
				a{
					color: #FFF;
					span{
						&:after{
							background: #969892;
						}
					}
					&:hover{
						color: #969892;
					}
				}
			}
		}
	}
	&__other{
		padding-left: 50px;
		border-left: 1px solid #4b5439;
		ul{
			li{
				margin-bottom: 12px;
				a{
					display: block;
					text-decoration: none;
					color: #969892;
					font-size: 1.2rem;
					line-height: 2rem;
					span{
						display: inline-block;
						position: relative;
						&:after{
							content: '';
							width: 0;
							height: 1px;
							background: #FFF;
							position: absolute;
							bottom: 0;
							left: 50%;
							-webkit-transform: translateX(-50%);
							transform: translateX(-50%);
							transition: width 0.6s cubic-bezier(0.19, 0.865, 0.295, 1);
						}
					}
					&:hover{
						opacity: 1;
						color: #FFF;
						span{
							&:after{
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
	&__language{
		position: relative;
		width: 280px;
		height: 50px;
		border: 1px solid #4b5439;
		margin-bottom: 28px;
		&:before{
			content: "";
			width: 50px;
			height: 50px;
			background: url("~@/assets/image/common/earth.svg") no-repeat center;
			background-size: 20px 20px;
			position: absolute;
			top: 0;
			left: 8px;
		}
		&:after{
			content: "";
			width: 50px;
			height: 50px;
			background: url("~@/assets/image/common/arrow02.svg") no-repeat center;
			background-size: 10px 6px;
			position: absolute;
			top: 0;
			right: 1px;
		}
	}
	&__select{
		border: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		padding-left: 66px;
		width: 100%;
		height: 100%;
		color: #fff;
		background-color: transparent;
		letter-spacing: 0.15em;
		font-size: 1.2rem;
		option{
			color: #969892;
		}
	}
	&__onl{
		margin-top: 28px;
	    a{
	    	text-decoration: none;
	    }
	    &--banner{
	    	display: block;
	    	background: url("~@/assets/image/common/online.jpg") no-repeat center;
	    	background-size: cover;
	    	color: #171916;
	    	padding: 20px 0 17px 25px;
	    	font-size: 1.2rem;
	    	margin-bottom: 13px;
	    	span{
	    		display: block;
	    		font-family: 'CormorantSC', serif;
			    font-weight: 700;
			    letter-spacing: -0.02em;
			    font-size: 1.6rem;
			    margin-bottom: 2px;
	    	}
	    }
	    &--link{
	    	color: #969892;
	    	position: relative;
	    	font-size: 1.2rem;
	    	&:after{
			    content: "";
			    width: 18px;
			    height: 6px;
			    background: url("~@/assets/image/common/arrow03.svg") no-repeat center;
			    background-size: 10px 6px;
			    display: inline-block;
			    opacity: 0.6;
			    margin-left: 10px;
			    transition: 0.3s ease-in-out;
			}
			&:hover{
				&:after{
					margin-left: 15px;
				}
			}
	    }
	}
}
/*
------------------------------------------------------------*/
