/*------------------------------------------------------------
header
------------------------------------------------------------*/
.c-header{
	width: 100px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9;
	opacity: 0;
	background: #FFF;
	&.is-show{
		animation: fade 0.5s forwards;
	}
	&__line{
		width: 1px;
		height: 100%;
		background: #d4d7d3;
		position: absolute;
		top: 0;
		right: 0;
	}
	&__logo{
		margin-top: 40px;
		margin-left: 33px;
		position: relative;
		z-index: 9;
	}
	&__btn{
		display: flex;
		flex-flow: column;
		justify-content: center;
		width: 100px;
		height: 100px;
		cursor: pointer;
	    position: absolute;
	    bottom: 0;
	    top: 0;
	    margin-top: auto;
	    margin-bottom: auto;
	    z-index: 9;
	    &:hover{	    	
	    	.c-header__toggle{
	    		span{
	    			animation: toggle-nav 0.6s normal;
	    			&:nth-of-type(1){
	    				animation-delay: 0.15s;
	    			}
	    			&:nth-of-type(2){
	    				animation-delay: 0.25s;
	    			}
	    			&:nth-of-type(3){
	    				animation-delay: 0.35s;
	    			}
	    		}
	    	}
	    }
	    &.is-active{
	    	&:hover{	    	
		    	.c-header__toggle{
		    		span{
		    			animation: none;		    			
		    		}
		    	}
		    }
	    	.c-header__toggle{
	    		span{
	    			&:nth-of-type(1){
						margin-top: 0;
						transform: rotate(45deg);
	    			}
	    			&:nth-of-type(2){
	    				left: 100%;
	    			}
	    			&:nth-of-type(3){
						margin-top: 0;
						transform: rotate(-45deg);
	    			}
	    		}
	    	}
	    }
	}
	&__toggle{
		display: block;
		overflow: hidden;
		position: relative;
		width: 30px;
		height: 30px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 5px;
		span{
			display: block;
			width: 30px;
			height: 2px;
			background-color: #171916;
			position: absolute;
			left: 0;
			top: 50%;
			opacity: 1;
			transition: 0.5s ease;
			&:nth-of-type(1){
				margin-top: -11px;
			}
			&:nth-of-type(2){
				width: 20px;
				margin-top: -1px;		
			}
			&:nth-of-type(3){
				margin-top: 9px;
			}
		}
    }
    &__btntxt{
		font-family: 'CormorantSC', serif;
		font-weight: 700;
		font-size: 1rem;
		text-align: center;
    }
    &__rakkan{
    	position: absolute;
    	left: 33px;
    	bottom: 40px;
    	z-index: 9;
    }
}
/*
------------------------------------------------------------*/
.c-nav{ 
	display: none;
    &__inner{
    	width: 370px;
    	height: 100%;
    	padding-top: 110px;
    	background: #FFF;
    	position: absolute;
    	top: 0;
    	left: 100px;
    	z-index: 2;
    	border-right: 1px solid #d4d7d3;
    }
    &__bg{
    	background: url("~@/assets/image/common/navi_bg.png") no-repeat center left 100px;
    	background-size: cover;
    	width: 100vw;
    	height: 100vh;
    	position: absolute;
    	top: 0;
    	left: 0;
    	z-index: 1;
    }
    &__parent{    	
    	opacity: 0;
    	animation: toggle-nav03 0.5s normal;
    	&.is-show{
    		animation: toggle-nav02 0.5s normal;
    		opacity: 1;
    	}
    	li{
    		> p,
    		> a{
		    	display: block;
				text-decoration: none;
				font-size: 1.8rem;
				line-height: 6.5rem;
				color: #171916;
				padding: 0 40px;								
				z-index: 3;
				cursor: pointer;
				font-weight: 600;
				position: relative;
		    	&:before{
					content: "";
					width: 1px;
					height: 100%;
					background: #4e6e45;
					position: absolute;
					left: -1px;
					opacity: 0;
				}
				&:after{
				    content: "";
				    width: 7px;
				    height: 7px;
				    background: #4e6e45;
				    position: absolute;
				    top: calc(50% - 3.5px);
				    left: -4px;
				    border-radius: 50%;
				    transform: scale(1);
				    opacity: 0;
				}
				span{    			
					&:after{
					    content: "";
					    width: 14px;
					    height: 14px;
					    background: url("~@/assets/image/common/arrow01.svg") no-repeat center;
					    background-size: cover;
					    position: absolute;
					    top: calc(50% - 7px);
					    right: 38px;
					    opacity: 0;
					    transform: scale(0.4);
					    transition: 0.5s ease-in-out;
					}
				}
		    }
		    &:hover{
		    	> p{    				
		    		span{
		    			&:after{
		    				opacity: 1;
					    	right: 32px;
					    	transform: scale(1);
		    			}
		    		}
    			}
		    }
    		&.is-active{
    			> p,
    			> a{
    				&:before{
	    				animation: height 1s normal;
	    				opacity: 1;
		    		}
		    		&:after{
		    			animation: scale01 1s normal;
		    			opacity: 1;
		    		}
		    		span{
		    			&:after{
		    				opacity: 1;
					    	right: 32px;
					    	transform: scale(1);
		    			}
		    		}
    			}
    			.c-nav__children{
    				opacity: 1;
    				animation: toggle-nav04 0.5s normal;
    			}
    		}
    	}
    }

    &__children{
    	width: 380px;
    	height: 100vh;
    	padding: 20px;
    	position: absolute;
    	top: 0;
    	left: 370px;
    	background: #FFF;
		overflow-x: hidden;
		overflow-anchor: none;
		touch-action: auto;
		opacity: 0;
		&::-webkit-scrollbar {
		    width: 1px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #171916;
		}
    	li{
    		margin-bottom: 10px;
    		&:last-child{
    			margin-bottom: 0;
    		}
    		> a{
    			display: block;
    			padding: 0;
    			&:before,
    			&:after{
    				display: none;
    			}
    			&:hover{
    				opacity: 1;
    				.c-nav__img{
						&:before{
							animation: products-first 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
						}
						&:after{
							animation: products-last 0.8s 0s both;
						}
    				}
    			}
    		}
    	}
    }
    &__img{
    	position: relative;
    	&:before,
    	&:after{
			display: block;
			content: "";
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			will-change: animation;
    	}
    	&:before{
    		animation: products-out 0.8s 0.15s cubic-bezier(0.19, 0.865, 0.295, 1) both;
			box-shadow: inset 0 0 200px rgba(0,0,0,0.5), inset 0 0 200px rgba(0,0,0,0.2);
			background: rgba(141,185,141,0.1);
			z-index: 1;
    	}
    	&:after{
    		animation: products-out 0.8s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
			background: rgba(37,44,36,0.8);
			z-index: 2;
    	}
    	img{
    		width: 100%;
    	}
    }
    &__txt{
    	margin-top: 5px;
    	font-size: 1.4rem;
    	line-height: 1.67;
    	font-weight: 300;
    }
	&__onl{
		margin-top: 50px;
	    margin-left: 40px;
	    width: 270px;
	    opacity: 0;
    	animation: toggle-nav03 0.5s normal;
    	&.is-show{
    		animation: toggle-nav02 0.5s normal;
    		opacity: 1;
    	}
	    a{
	    	text-decoration: none;
	    }
	    &--banner{
	    	display: block;
	    	background: url("~@/assets/image/common/online.jpg") no-repeat center;
	    	background-size: cover;
	    	color: #171916;
	    	padding: 20px 0 17px 25px;
	    	font-size: 1.2rem;
	    	margin-bottom: 13px;
	    	span{
	    		display: block;
	    		font-family: 'CormorantSC', serif;
			    font-weight: 700;
			    letter-spacing: -0.02em;
			    font-size: 1.6rem;
			    margin-bottom: 2px;
	    	}
	    }
	    &--link{
	    	color: #969892;
	    	position: relative;
	    	&:after{
			    content: "";
			    width: 10px;
			    height: 10px;
			    background: url("~@/assets/image/common/arrow01.svg") no-repeat center;
			    background-size: cover;
			    display: inline-block;
			    opacity: 0.6;
			    margin-left: 15px;
			    transition: 0.3s ease-in-out;
			}
			&:hover{
				&:after{
					opacity: 0.4;
					margin-left: 18px;
				}
			}
	    }
	}
}