/*------------------------------------------------------------
layout
------------------------------------------------------------*/
body{	
    font-size: 1.4rem;
    line-height: 1.85;
    letter-spacing: 0.1em;
    color: #171916;
    overflow: hidden;
    &.is-show{
    	overflow: unset;
    }
}

/*
------------------------------------------------------------*/
.l-container{
	width: 1080px;
	margin: 0 auto;
}

/*
------------------------------------------------------------*/
@keyframes toggle-nav {
	0%{
		left: 0;
	}
	100%{
		left: 100%;
	}
}

@keyframes toggle-nav02 {
	0%{
		transform: matrix(1, 0, 0, 1, -20, -50);
		opacity: 0;
	}
	30%{
		opacity: 0;
	}
	100%{
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1;
	}
}

@keyframes toggle-nav03 {
	0%{		
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
	100%{
		transform: matrix(1, 0, 0, 1, -50, -50);
		opacity: 0;
	}
}

@keyframes toggle-nav04 {
	0%{		
		opacity: 0;
		transform: matrix(1, 0, 0, 1, -50, 0);
	}
	100%{
		transform: matrix(1, 0, 0, 1, 0, 0);
		opacity: 1;
	}
}

@keyframes scale01 {
	0%{
		transform: scale(0.5);
		opacity: 0;
	}
	50%{
		transform: scale(1.2);
		opacity: 0.5;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes scale02 {
	0%{
		transform: scale(0.3);
		opacity: 0;
	}
	100%{
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes height {
	0%{
		height: 0;
		top: 50%;
	}
	100%{
		height: 100%;
		top: 0;
	}
}

@keyframes width {
	0%{
		width: 0;
		left: 50%;
	}
	100%{
		width: 100%;
		left: 0;
	}
}

@keyframes out {
	0%{
		width: 100%;
		left: 0;
		opacity: 1;
	}
	100%{
		width: 0;
		left: 50%;
		opacity: 0;
	}
}

@keyframes products-out{
	0%{
		opacity:1
	}
	100%{
		opacity:0
	}
}

@keyframes products-first{
	20%{
		opacity:1
	}
	100%{
		opacity:0
	}
}

@keyframes products-last{
	100%{
		opacity:1
	}
}

@keyframes title01{
	0%{
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 2, 0);
	}
	100%{
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

@keyframes btn01-in{
	100%{
		transform:translateX(100%);
	}
}

@keyframes btn01-out{
	0%{
		transform:translateX(-100%);
	}
	100%{
		transform:translateX(0%);
	}
}

@keyframes fade{
	0%{
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 2, 20);
	}
	100%{
		opacity: 1;
		transform: matrix(1, 0, 0, 1, 0, 0);
	}
}

@keyframes mouse-in {
	0%{
		transform: scale(0);
	}
	100%{
		transform: scale(1);
	}
}

@keyframes mouse-out {
	0%{
		transform: scale(1);
	}
	100%{
		transform: scale(0);
	}
}

@keyframes dash{
	to{
		stroke-dashoffset:136;
	}
}