/*------------------------------------------------------------
Top
------------------------------------------------------------*/
.p-top{
	background: url("~@/assets/image/common/body_bg.png") repeat;
	overflow: hidden;
	padding-bottom: 100px;
	&__inner{
		padding-left: 100px;
		position: relative;
	}
	.is-view{
		.c-title01{
			h3{
				span{
					animation: title01 1s forwards;
					&:nth-of-type(2){
						animation-delay: 0.1s;
					}
					&:nth-of-type(3){
						animation-delay: 0.2s;
					}
					&:nth-of-type(4){
						animation-delay: 0.3s;
					}
					&:nth-of-type(5){
						animation-delay: 0.4s;
					}
					&:nth-of-type(6){
						animation-delay: 0.5s;
					}
					&:nth-of-type(7){
						animation-delay: 0.6s;
					}
					&:nth-of-type(8){
						animation-delay: 0.7s;
					}
					&:nth-of-type(9){
						animation-delay: 0.8s;
					}
					&:nth-of-type(10){
						animation-delay: 0.9s;
					}
					&:nth-of-type(11){
						animation-delay: 1s;
					}
					&:nth-of-type(12){
						animation-delay: 1.1s;
					}
					&:nth-of-type(13){
						animation-delay: 1.2s;
					}
					&:nth-of-type(14){
						animation-delay: 1.3s;
					}
					&:nth-of-type(15){
						animation-delay: 1.4s;
					}
				}
			}
			p{
				animation: title01 1s forwards;
			}
		}
		.is-animation{
			animation: fade 1s forwards;
			animation-delay: 0.5s;
		}
		.c-iframe01__bg{
			animation: products-last 1s forwards;
			animation-delay: 1.5s;
		}
	}
	.is-animation{
		opacity: 0;
		transform: matrix(1, 0, 0, 1, 0, 20);
	}
}

/*p-top01
------------------------------------------------------------*/
.p-top01{
	width: 100%;
	height: 100vh;
	background: url("~@/assets/image/top/mv_bg.png") no-repeat center;
	background-size: cover;
	position: relative;
	z-index: 2;
	&__inner{
		width: 100%;
		height: 100vh;
		position: relative;
		opacity: 0;
		display: none;
		animation: toggle-nav03 0.5s forwards;
		animation-delay: 0.2s;
		&.is-show{
			display: block;
			animation: fade 0.5s forwards;
			animation-delay: 0.2s;
		}
	}
	&__bg{
		width: 100%;
		height: 100%;
		background: url("~@/assets/image/top/mv01.png") no-repeat center;
		background-size: cover;
		opacity: 0;	
		&.is-show{
			animation: fade 0.5s forwards;
		}	
	}
	&__mouse{
		width: 50px;
		height: 50px;
		position: absolute;
		top: -25px;
		left: -25px;
		pointer-events: none;
		background: transparent;
		z-index: 1;
		border-radius: 50%;
		display: none;		
		.circle{
			width: 50px;
		    height: 50px;
		    position: absolute;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    top: 0;
		    margin: auto;
		    border-radius: 50%;
		    background-color: transparent;
		    transition: 0.8s ease;
		    transform: scale(0);
		    #js-pointer1{
				position: absolute;
				transform: scale(0);
				animation: mouse-out 0.8s forwards;
			}
			#js-pointer2{
				position: absolute;
				transform: scale(1);
			}
		    &.is-hover{
		    	transform: scale(1);
		    	#js-pointer1{
					animation: mouse-in 0.5s forwards;
				}
		    }
		}

	}	
	&__pointer{
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0
	}
	&__pointer01,
	&__pointer02,
	&__pointer03,
	&__pointer04,
	&__pointer05,
	&__pointer06,
	&__pointer07,
	&__pointer08,
	&__pointer09,
	&__pointer10,
	&__pointer11,
	&__pointer12{
		position: absolute;
		z-index: 5;
		left: 50%;
		top: 50%;
		cursor: pointer;
		opacity: 0.5;
		text-align: center;
		//background: #666;
	}
	&__pointer01{
		width: 15.625vw;
	    height: 23.75vw;
	    margin-top: -28.75vw;
	    margin-left: -27.5vw;
	}
	&__pointer02{
		width: 14.375vw;
	    height: 23.125vw;
	    margin-top: -10.3125vw;
	    margin-left: -11.875vw;
	}
	&__pointer03{
		width: 10vw;
	    height: 10vw;
	    margin-top: -17.125vw;
	    margin-left: 16.625vw;
	}
	&__pointer04{
		width: 16.25vw;
	    height: 13.75vw;
	    margin-top: -27.5vw;
	    margin-left: 26.65vw;
	}
	&__pointer05{
		width: 16.25vw;
	    height: 13.75vw;
	    margin-top: -7.1vw;
	    margin-left: 2.5vw;
	}
	&__pointer06{
		width: 12.5vw;
	    height: 12.5vw;
	    margin-top: -26.5625vw;
	    margin-left: -11.5625vw;
	}
	&__pointer07{
	    width: 17.5vw;
	    height: 14.375vw;
	    margin-top: 10.9375vw;
	    margin-left: 3.125vw;
	}
	&__pointer08{
	    width: 20.625vw;
	    height: 12.125vw;
	    margin-top: -4.0625vw;
	    margin-left: -32.9vw;
	}
	&__pointer09{
	    width: 10.625vw;
	    height: 12.3vw;
	    margin-top: 13vw;
	    margin-left: -11.875vw;
	}
	&__pointer10{
	    width: 15.875vw;
	    height: 16.9vw;
	    margin-top: 8.375vw;
	    margin-left: -38.125vw;
	}
	&__pointer11{
	    width: 16.25vw;
	    height: 15vw;
	    margin-top: 9.375vw;
	    margin-left: 25vw;
	}
	&__pointer12{
		width: 12.5vw;
	    height: 11.25vw;
	    margin-top: -3.125vw;
	    margin-left: 23.125vw;
	}
}

/*p-top02
------------------------------------------------------------*/
.p-top02{
	margin-top: 220px;
	width: 100%;
	position: relative;
    z-index: 2;
	&__txt01{
		margin-top: 20px;
		p{
			line-height: 2.2rem;
		}
	}
	&__title{
		font-size: 1.8rem;
		font-weight: bold;
		line-height: 1.67;
		margin-bottom: 45px;
	}
	&__img01{
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		margin-top: 110px;
		margin-bottom: 90px;
		li{
			width: 525px;
			&:nth-of-type(2){
				margin-top: -400px;
			}
			p{
				margin-top: 10px;
			}
		}
	}
	&__list{
		box-sizing: border-box;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: flex-start;
		li{
			width: 340px;
			margin-left: 30px;
			&:nth-child(3n+1){
				margin-left: 0px;
			}
			&:nth-child(2){
				margin-top: 90px;
			}
			&:nth-child(5){
				margin-top: 30px;
			}
			&:nth-child(4),
			&:nth-child(6){
				margin-top: -60px;
			}
			p{
				margin-top: 10px;
			}
		}
	}
}

/*p-top03
------------------------------------------------------------*/
.p-top03{
	margin-top: 175px;
	&__inner{
		margin-top: 40px;
	}
}

/*p-top04
------------------------------------------------------------*/
.p-top04{
	margin-top: 175px;
	position: relative;
    z-index: 2;
	.c-slider{
		margin-top: 130px;
	}
	.c-btn01{
		margin-top: 40px;
	}
}

/*p-top05
------------------------------------------------------------*/
.p-top05{
	margin-top: 175px;
	margin-bottom: 70px;
	&__list{
		display: flex;
	    justify-content: space-between;
	    align-items: center;
	    flex-wrap: wrap;
	    margin-top: 90px;
		li{
			width: 340px;
			margin-bottom: 30px;
			margin-left: 30px;
			&:nth-of-type(1){
				width: 100%;
				margin-left: 0;
			}
			&:nth-of-type(2){
				margin-left: 0;
			}
			a{
				text-decoration: none;
				color: #171916;
				p{
					margin-top: 10px;
				}
			}
		}
	}
}
