/*------------------------------------------------------------
other
------------------------------------------------------------*/
.c-loading{
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: products-out 0.5s forwards;
	animation-delay: 1s;    
    &__cover{
		position: absolute;
		width: 200%;
		height: 200%;
		left: -50%;
		top: -50%;
		border: solid 1px #ddd;
		background: linear-gradient(to left bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0.9) 35%, #fff 50%, rgba(255,255,255,0.98) 75%, rgba(255,255,255,0));
		display: flex;
		align-items: center;
		justify-content: center;
    }
    &__triangulo{
		stroke-dasharray:17;
	 	animation:dash 2.5s cubic-bezier(0.35, 0.04, 0.63, 0.95) infinite;
    }
}

.c-iframe{
	position: absolute;
	top: 50%;
	left: 50vw;
	z-index: 1;
	&01{
		width: 1130px;
		height: 1120px;
		top: -250px;
		margin-left: -265px;
		&__bg{
			width: 100%;
			height: 100%;
			display: block;
			background: #fff url("~@/assets/image/common/iframe01.png") no-repeat center;
			background-size: cover;
			position: absolute;    
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 0;			
		}
		&__video{
			mix-blend-mode: multiply;
			width: 1112px;
			position: absolute;
			left: 20px;
			top: 0;
			pointer-events: none;
			z-index: 0;
		}
	}
	&02{
		width: 1150px;
	    height: 1172px;
	    top: 38%;
	    left: -658px;
	    &__bg{
			width: 100%;
			height: 100%;
			display: block;
			background: url("~@/assets/image/common/iframe02.png") no-repeat center;
			background-size: cover;
			position: absolute;    
			top: 0;
			left: 0;
			z-index: 0;
		}
		&__video{
			mix-blend-mode: multiply;
			width: 1112px;
			position: absolute;
			left: 20px;
			top: 0;
			pointer-events: none;
			z-index: 0;
		}
	}
	&03{
		width: 1150px;
	    height: 1373px;
	    top: 56%;
	    margin-left: 133px;
	    &__bg{
	    	width: 100%;
			height: 100%;
			display: block;
			background: url("~@/assets/image/common/iframe03.png") no-repeat center;
			background-size: cover;
			position: absolute;    
			top: 0;
			left: 0;
			z-index: 0;
	    }
	}
}

/*
------------------------------------------------------------*/
.c-img01{
	display: block;
	width: 100%;
	position: relative;
	&:before,
	&:after{
		display: block;
		content: "";
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		will-change: animation;
	}
	&:before{
		animation: products-out 0.8s 0.15s cubic-bezier(0.19, 0.865, 0.295, 1) both;
		box-shadow: inset 0 0 200px rgba(0,0,0,0.5), inset 0 0 200px rgba(0,0,0,0.2);
		background: rgba(141,185,141,0.1);
		z-index: 1;
	}
	&:after{
		animation: products-out 0.8s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
		background: rgba(37,44,36,0.8);
		z-index: 2;
	}
	&:hover{
		&:before{
			animation: products-first 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
		}
		&:after{
			animation: products-last 0.8s 0s both;
		}
		.c-img01__title{
			margin-top: -12px;
			opacity: 1;
		}
	}
	&__title{
		display: block;
		text-align: center;
		width: 100%;
		font-size: 1.2rem;
		line-height: 1;
		position: absolute;
		top: 50%;
		margin-top: 0px;
		color: #FFF;
		transition: 0.5s ease-in-out;
		opacity: 0;
		z-index: 3;
		&:after{
			content: "";
			width: 12px;
			height: 12px;
			background: url("~@/assets/image/common/arrow04.svg") no-repeat center;
			background-size: 10px 10px;
			display: inline-block;
			margin-left: 8px;
			margin-bottom: -2px;
		}
	}
}

/*
------------------------------------------------------------*/
.c-btn01{
	margin-top: 30px;
	width: 200px;
	a{
		display: block;
		text-decoration: none;
		color: #171916;
		line-height: 5rem;
		font-weight: bold;
		position: relative;
		overflow: hidden;
		&:before{
			content: "";
			width: 10px;
			height: 10px;
			background: url("~@/assets/image/common/arrow01.svg") no-repeat center;
			background-size: 10px 10px;
			position: absolute;
			top: calc(50% - 5px);
			right: 8px;
			transition: 0.5s ease-in-out;
		}
		&:after{
			content: "";
			width: 100%;
			height: 2px;
			background: #2e362c;
			position: absolute;
			bottom: 0;
			left: 0;
			animation: btn01-out 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
		}
		&:hover{
			opacity: 1;
			&:before{
				right: 0;
			}
			&:after{
				animation: btn01-in 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
			}
		}
	}
}

/*
------------------------------------------------------------*/
.c-title01{
	text-align: left;
	&--textRight{
		text-align: right;
	}
	h3{
		font-family: 'CormorantSC', serif;
		font-size: 5rem;		
		line-height: 1;
		font-weight: normal;
		letter-spacing: -0.02em;
		margin-bottom: 5px;
		span{
			position: relative;
			display: inline-block;
			opacity: 0;
		}
	}
	p{
		font-size: 1.8rem;
		opacity: 0;
	}
}

/*
------------------------------------------------------------*/
.c-tabs{
	width: 100%;
	&__nav{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;
		li{
			width: 50%;
			line-height: 6rem;
			text-align: center;
			border-bottom: 1px solid #d4d7d3;
			cursor: pointer;
			position: relative;
			&:before{
				content: "";
				width: 100%;
				height: 1px;
				background: #4e6e45;
				position: absolute;
				left: 0;
				bottom: -1px;
				animation: out 1.5s normal;
				opacity: 0;
			}
			&:after{
			    content: "";
			    width: 7px;
			    height: 7px;
			    background: #4e6e45;
			    position: absolute;
			    bottom: -4px;
			    left: calc(50% - 3.5px);
			    border-radius: 50%;
			    transform: scale(1);
			    animation: products-out 1.5s normal;
			    opacity: 0;
			}
			&.is-active{
				&:before{
					animation: width 1.5s normal;
					opacity: 1;
				}
				&:after{
					animation: scale01 1.5s normal;
		    		opacity: 1;
				}
			}
		}
	}
	&__content{
		display: none;
		&.is-active{
			display: block;
			animation: fade 1.5s forwards;			
		}
	}
	&__item{
		display: flex;
		flex-wrap: wrap;
		padding: 20px 0;
		position: relative;
		overflow: hidden;
		text-decoration: none;
		color: #171916;
		cursor: pointer;
		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background: #d4d7d3;
			position: absolute;
			bottom: 0;
			left: 0;
		}
		&:after{
			content: "";
			width: 100%;
			height: 1px;
			background: #4e6e45;
			position: absolute;
			bottom: 0;
			left: 0;
			animation: btn01-in 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
		}
		&:hover{
			&:after{
				animation: btn01-out 1s 0s cubic-bezier(0.19, 0.865, 0.295, 1) both;
			}
			.c-tabs__btn{
				&:after{
					margin-left: 15px;
				}
			}
		}
	}
	&__img{
		width: 120px;
		img{
			width: 100%;
		}
	}
	&__text{
		width: calc(100% - 120px);
		padding-left: 30px;	 
		display: flex;	    
	    flex-wrap: wrap;
		justify-content: flex-start;
	    align-items: center;
	    time{
	    	width: 98px;
	    }   
	}
	&__cate{
		display: flex;
		justify-content: flex-start;
		align-items: center;
		li{
			font-size: 1.1rem;
			line-height: 2.2rem;
			font-weight: bold;
			width: 95px;
			height: 22px;
			text-align: center;
			color: #FFF;
			margin-right: 10px;
				
		}
		.type-products{
			background-color: #4e6e45;
		}
		.type-limited{
			background-color: #b3655d;
		}
		.type-media{
			background-color: #758c51;
		}
	}
	&__title{
		width: 100%;
		margin: 15px 0;
	}
	&__btn{
		width: 100%;
		position: relative;
		display: block;
		font-size: 1.2rem;
		&:after{
			content: "";
			width: 10px;
			height: 10px;
			background: url("~@/assets/image/common/arrow01.svg") no-repeat center;
			background-size: 8px 8px;
			display: inline-block;
			transition: 0.5s ease-in-out;
			opacity: 0.7;
			margin-left: 10px;
		}
	}
	.c-btn01{
		margin-top: 40px;
	}
}

/*
------------------------------------------------------------*/
.c-slider{
	width: 680px;
	min-height: 450px;
	position: relative;
	&__img{
		width: 680px;
		overflow: hidden;
		li{
			width: 100%;
			height: 450px;
			float: left;
			position: relative;
			z-index: 1;
			img{
				width: 100%;
			}		
		}
	}
	&__boxtxt{
		width: 380px;
		position: absolute;
		left: 650px;
		top: 125px;
		z-index: 1000;
		background: #FFF;
	}
	&__txt{
		width: 100%;
		background: #FFF;
		padding: 90px 60px 110px;
		float: left;		
		h3{
			font-size: 1.8rem;
			margin-bottom: 15px;
		}
		p{
			font-weight: normal;
		}
		a{
			text-decoration: none;
			font-size: 1.2rem;
			color: #171916;
			display: inline-block;
			margin-top: 20px;
			position: relative;
			&:after{
				content: "";
				width: 10px;
				height: 10px;
				background: url("~@/assets/image/common/arrow01.svg") no-repeat center;
				background-size: 8px 8px;
				display: inline-block;
				transition: 0.3s ease-in-out;
				opacity: 0.7;
				margin-left: 8px;
			}
			&:hover{
				opacity: 1;
				&:after{
					margin-left: 12px;
				}
			}
		}
	}
	&__arrow{
		width: 180px;
		height: 80px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		left: 0;
		bottom: -40px;
		z-index: 1000;
	}
	&__prev,
	&__next{
		width: 90px;
		height: 80px;
		background: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: 0.6s ease;
		cursor: pointer;
		svg{
			width: 6px;
			height: 10px;
			transition: 0.6s ease;
		}
		&:hover{
			background: #FFF;
			svg{
				path{
					stroke: #171916;
				}
			}
		}
	}
	&__prev{
		position: relative;
		&:after{
			content: "";
			width: 2px;
			height: 10px;
			background: #FFF;
			position: absolute;
			top: calc(50% - 5px);
			right: -1px;
		}
		svg{
			transform: rotate(180deg) translateX(0);
		}
		&:hover{
			svg{
				transform: rotate(180deg) translateX(5px);
			}
		}
	}
	&__next{
		&:hover{
			svg{
				transform: translateX(-5px);
			}
		}
	}
	&__pager{
		width: 30px;
		position: absolute;
		top: 55px;
		right: 25px;
		z-index: 1000;
		span{
			display: block;
			font-family: 'CormorantSC', serif;
			font-weight: 700;
			letter-spacing: -0.02em;
			text-align: center;
			font-size: 1.6rem;
			margin-bottom: 5px;
			&:first-child{
				padding-bottom: 5px;
				border-bottom: 1px solid #000;
			}
		}
	}
}